@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

:root {

  /* Colors */

  --grey-light: #f1f1f1;
  --grey: #979797;
  --grey-dark: #333333;
  --red: #f93941;
  --green: #5c9256;
  --blue: #3a7fc9;

  --money-score-green: #5d9158;
  --fish-blue: #3a7fc9;
  --value-mapping-red: #f93941;


}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  background: var(--grey-light);
}

p, a, span, button {
  font-family: 'Jost', sans-serif;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2em;
}

button {
  font-weight: 400;
  font-size: 14px;
}

a {
  color: var(--blue);
  text-decoration: none;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 32px 0 16px;
  text-align: left;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  line-height: 1.2em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

::selection {
  background: var(--red);
  color: white;
}

